---
http_interactions:
- request:
    method: get
    uri: https://etherchain.org/api/account/0x2b9c4e2ad6f1e7bd43365abb99faa1867706ea9c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b5-4f359b77"
    body:
      encoding: ASCII-8BIT
      string: '{"status":1,"data":[{"address":"0x2b9c4e2ad6f1e7bd43365abb99faa1867706ea9c","balance":0,"nonce":null,"code":"0x","name":null,"storage":null,"firstSeen":"2016-10-09T19:26:00.000Z"}]}'
  recorded_at: Sun, 07 May 2017 14:26:04 GMT
recorded_with: VCR 3.0.3
