---
http_interactions:
- request:
    method: get
    uri: https://etherchain.org/api/account/0x5f862a4adfc4ef14e6c6ee1acaf4838e2a0d34ad
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b1-ffd6e8a8"
    body:
      encoding: ASCII-8BIT
      string: '{"status":1,"data":[{"address":"0x5f862a4adfc4ef14e6c6ee1acaf4838e2a0d34ad","balance":1989580000000000000,"nonce":null,"code":"0x","name":null,"storage":null,"firstSeen":null}]}'
  recorded_at: Sun, 07 May 2017 14:10:19 GMT
recorded_with: VCR 3.0.3
