---
http_interactions:
- request:
    method: get
    uri: https://etherchain.org/api/account/0x8eeec35015baba2890e714e052dfbe73f4b752f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c7-e0754dd"
    body:
      encoding: ASCII-8BIT
      string: '{"status":1,"data":[{"address":"0x8eeec35015baba2890e714e052dfbe73f4b752f9","balance":1200000000000000000,"nonce":null,"code":"0x","name":null,"storage":null,"firstSeen":"2016-03-26T18:20:46.000Z"}]}'
  recorded_at: Sun, 07 May 2017 14:55:55 GMT
recorded_with: VCR 3.0.3
